# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environments
venv/
env/
.env/

# Data and Models
*.csv
*.pt
*.bin
*.safetensors
/results/
/logs/

# IDE settings
.vscode/
.idea/
